.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 76px);
  background-color: #0f0f0f;
}

.logoContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  width: auto;
  height: auto;
  max-width: 400px;
  object-fit: contain;
}

.title {
  text-align: center;
  line-height: 150%;
  margin: 28px;
  color: #fff;
}

.infoContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box {
  padding: 14px 44px;
  border-radius: 4px;
  background-color: #fafafa;
  cursor: pointer;
  transition: all 0.3s ease;
}

.box:hover {
  color: #3183ff;
  scale: 1.03;
}

@media screen and (max-width: 540px) {
  .hero {
    max-width: 80%;
  }

  .title {
    font-size: 24px;
  }

  .infoContent {
    flex-direction: column;
    gap: 20px;
  }

  .box {
    text-align: center;
    width: 80%;
  }
}
